@import "src/shared/styles/mixins.scss";


.counter {
   @include flex(center);
   margin-top: 30px;
}

.wrapper {
   @include flex(center, center);
   flex-direction: column;
}

h2 {
   text-align: center;
   font-size: 50px;
}

button {
   padding: 10px 25px;

   background: transparent;
   border: 2px solid transparent;
   text-align: center;
   font-size: 22px;
   border-radius: 15px;

   cursor: pointer;

   transition: all 0.05s ease-in-out;

   &.minus {
      margin-right: 10px;
      background-color: #f04a7c;
      color: #fff;
      box-shadow: 0 4px 0 darken(#f04a7c, 10%);
      border: 1px solid darken(#e63946, 15%);
   }

   &.plus {
      background-color: #31a799;
      color: #fff;
      box-shadow: 0 4px 0 darken(#3a756e, 10%);
      border: 1px solid darken(#3a756e, 15%);
   }

   &:hover {
      transform: translateY(-2px);
   }

   &:active {
      transform: translateY(2px);
      box-shadow: none;
   }
}